*.egg-info/
*.manifest
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak
MANIFEST
__pycache__/
**/__pycache__/
*.pyc
TRain.egg-info/dependency_links.txt
TRain.egg-info/entry_points.txt
TRain.egg-info/PKG-INFO
TRain.egg-info/requires.txt
TRain.egg-info/SOURCES.txt
TRain.egg-info/top_level.txt
