## Python packages required for TRain ##
## Breakdown of usage provided in manual ##
pillow == 8.2.0
pandas == 1.4.4
openpyxl == 3.1.2
biopython == 1.79
scipy == 1.7.2
scikit-learn == 1.0.1
matplotlib == 3.7.4
seaborn == 0.13.1
