# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Mac OS files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.pyc
TRain.egg-info/
TRain.egg-info/*
